<!DOCTYPE html>
<html>
  <head>
    <title>VimDiesel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg">
      <span class="navbar-brand" href="#">VimDiesel Software Production</span>  

      <div class="navbar-nav">
        <span class="sr-only">(current)</span>
        <%= link_to "Página principal", root_path, class: 'nav-item nav-link' %>
        <%= link_to "Produtos", products_index_path, class: 'nav-item nav-link' %>
        <%= link_to "Quem Somos", quem_somos_index_path, class: 'nav-item nav-link' %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
